*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  min-width: 1060px;
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: Roboto, Avenir, sans-serif;
}
a {
  text-decoration: none;
}
/* CTA */
.cta {
  display: block;
  border-radius: 8px;
  background: green;
  font-weight: 400;
  text-decoration: none;
  color: white;
}
.cta:hover {
  background: #44b78b;
}

.header {
  background: green;
  padding: 15px 0 4px;
  height: 72px;
}
.container {
  max-width: 1400px;
  margin: 0 auto 0 auto;
  position: relative;
  padding: 0 20px;
}
.container-float {
  max-width: 1400px;
  background: red;
  margin: 0 auto 0 auto;
  position: relative;
  padding: 0 20px;
}
.container-float ::after {
  display: block;
  content: "";
  clear: both;
}
.logo {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.nav {
  text-align: right;
}
.list {
  margin: 0;
  font-size: 0;
}
.list-item {
  font-weight: 700;
  display: inline-block;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.list-item > a {
  color: white;
  display: block;
  padding: 10px;
}
.list-item > a:hover {
  color: #c9f0dd;
}

/* main */
.hero-section {
  text-align: center;
  padding: 50px 0;
  border-bottom: 1px solid grey;
}
.intro-desc {
  margin: 40px auto;
  width: 700px;
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 1.3;
}

.hero-cta {
  width: 300px;
  margin: 0 auto 60px;
  padding: 20px 50px;
}
.main-content {
  float: left;
  width: 70%;
}
.main-title {
  font-weight: 400;
  margin: 40px 0 20px 0;
  font-size: 3.2rem;
  letter-spacing: -1px;
}
.mailing {
  float: left;
  width: 48%;
}
.mailing-layout {
  padding-top: 10px;
}
.mailing-layout::after {
  content: "";
  display: block;
  clear: both;
}
.mailing:first-child {
  margin-right: 4%;
}
.mailing-form {
  margin: 10px 0 30px;
  position: relative;
}

.mailing-form > label {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
input[type="email"] {
  width: 100%;
  border: 1px solid #cfe3dc;
  border-radius: 4px;
  height: 5rem;
  padding: 6px 80px 8px 10px;
}
.mailing-form-btn {
  position: absolute;
  top: 30%;
  right: 10px;
  border: 0;
  background: transparent;
  color: #44b78b;
  cursor: pointer;
}
.side-content {
  float: right;
  width: 30%;
  margin: 0;
  padding: 0 0 30px 20px;
  border-left: 1px solid #cfe3dc;
}
.side-content a:hover {
  color: #25c488;
}
.container-side-cta {
  text-align: center;
}
.cta.side-cta:hover {
  color: white;
}
.side-cta {
  width: 330px;
  padding: 16px 24px;
  margin: 40px auto 0;
}
.side-cta em {
  font-style: normal;
  color: #c9f0dd;
}
.more {
  display: block;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #20aa76;
}
.more::after {
  content: ">";
}

.news-title {
  margin: 0;
  font-weight: 700;
  font-size: 1.6rem;
}
.infos-title {
  border-bottom: 1px solid grey;
}
.news-title > a,
.community-title > a {
  color: #20aa76;
}
.news-article {
  padding: 20px 0;
}
.news-desc {
  font-size: 1.5rem;
}
.news-meta {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #859d94;
}
.list_communities {
  padding: 20px 0;
  margin: 0;
}
.community-title {
  font-size: 1.4rem;
}
.community-title:nth-child(n + 2) {
  margin-top: 14px;
}
.community-desc {
  font-size: 1.4rem;
  color: #9ec0b4;
  margin: 10px 0 0 0;
}
.footer {
  background: white;
}
